<%= form_for(@visual) do |f| %>
  <% if @visual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visual.errors.count, "error") %> prohibited this visual from being saved:</h2>

      <ul>
      <% @visual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vizname %><br />
    <%= f.text_field :vizname %>
  </div>
  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
