<h1>SDVC Groups</h1>

<script type="text/javascript" charset="utf-8">
    $(function() {
        new Highcharts.Chart({
            chart: {
                renderTo: "fat_chart"
            },
            title: {
                text: "Fat Percent by Day"
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: "Fat Percent"
                }
            },
            tooltip: {
                formatter: function() {
                return Highcharts.dateFormat ("%B %e, %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 2);
            }
        },
            series: [{
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
                data: <%= (4.weeks.ago.to_date..Date.today).map { |date| Gpf.avef_on(date).to_f}.inspect %>
            }]

         });
    });
</script>


<div id="fat_chart" style="width:560px; height:300px;"></div>

<table class="table table-striped">
  <tr>
    <th>Lgid</th>
    <th>Phase</th>
    <th>District</th>
    <th>Upazilla</th>
    <th>Totalpart</th>
    <th>Perfemale</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.lgid %></td>
    <td><%= group.phase %></td>
    <td><%= group.district %></td>
    <td><%= group.upazilla %></td>
    <td><%= group.totalpart %></td>
    <td><%= group.perfemale %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
