<p id="notice"><%= notice %></p>

<p>
  <b>Lgid:</b>
  <%= @group.lgid %>
</p>

<p>
  <b>Phase:</b>
  <%= @group.phase %>
</p>

<p>
  <b>District:</b>
  <%= @group.district %>
</p>

<p>
  <b>Upazilla:</b>
  <%= @group.upazilla %>
</p>

<p>
  <b>Totalpart:</b>
  <%= @group.totalpart %>
</p>

<p>
  <b>Perfemale:</b>
  <%= @group.perfemale %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
