<h1>GPF Data</h1>

<script type="text/javascript" charset="utf-8">
$(function() {
    new Highcharts.Chart({
        chart: {
        renderTo: "fat_chart"
    },
    title: {
        text: "Milk Fat Content by Day"
    },
    xAxis: {
        type: "datetime"
    },
    yAxis: {
        title: {
            text: "Percent"
        }
    },
    series: [{
        name: "Farmer 1",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.week.ago.to_i * 1000 %>,
        data: <%= (1.week.ago.to_date..Date.today).map { |date| Gpf.farmer1.ave_on(date).to_f}.inspect %>
    },
    {
        name: "Farmer 2",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.week.ago.to_i * 1000 %>,
        data: <%= (1.week.ago.to_date..Date.today).map { |date| Gpf.farmer2.ave_on(date).to_f}.inspect %>
    },
    {
        name: "Farmer 3",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.day.ago.to_i * 1000 %>,
        data: <%= (1.week.ago.to_date..Date.today).map { |date| Gpf.farmer3.ave_on(date).to_f}.inspect %>
    },
     {
        name: "Farmer 4",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.week.ago.to_i * 1000 %>,
        data: <%= (1.week.ago.to_date..Date.today).map { |date| Gpf.farmer4.ave_on(date).to_f}.inspect %>
    }]
  });
});
</script>
<div id ="fat_chart" style="width:560px; height:300px;"></div>

<table class="table table-striped">
  <tr>
    <th>Cbcount</th>
    <th>Lbcount</th>
    <th>Litres</th>
    <th>Fat</th>
    <th>Price</th>
    <th>Litconsume</th>
    <th>Litgive</th>
    <th>Litsell</th>
    <th>Farmer</th>
    <th>Whoconsa</th>
    <th>Whoconsb</th>
    <th>Wheresell</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gpfs.each do |gpf| %>
  <tr>
    <td><%= gpf.cbcount %></td>
    <td><%= gpf.lbcount %></td>
    <td><%= gpf.litres %></td>
    <td><%= gpf.fat %></td>
    <td><%= gpf.price %></td>
    <td><%= gpf.litconsume %></td>
    <td><%= gpf.litgive %></td>
    <td><%= gpf.litsell %></td>
    <td><%= gpf.farmer_id %></td>
    <td><%= gpf.whoconsa %></td>
    <td><%= gpf.whoconsb %></td>
    <td><%= gpf.wheresell %></td>
    <td><%= link_to 'Edit', edit_gpf_path(gpf) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gpf', new_gpf_path %>
