<h2>GPF Data</h2>

<script type="text/javascript" charset="utf-8">
    $(function() {
        new Highcharts.Chart({
            chart: {
                renderTo: "fat_chart"
            },
            title: {
                text: "Fat Percent by Day"
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    "Fat Percent"
                }
            },
            series: [{
                    data: [1,2,3,5,7]
                }]
         });
    });
</script>



<div id="fat_chart" style="width:560px; height:300px;"></div>

<table class="table table-striped">
  <tr>
    <th>Cbcount</th>
    <th>Lbcount</th>
    <th>Litres</th>
    <th>Fat</th>
    <th>Price</th>
    <th>Litconsume</th>
    <th>Litgive</th>
    <th>Litsell</th>
    <th>Farmer</th>
    <th>Whoconsa</th>
    <th>Whoconsb</th>
    <th>Wheresell</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gpfs.each do |gpf| %>
  <tr>
    <td><%= gpf.cbcount %></td>
    <td><%= gpf.lbcount %></td>
    <td><%= gpf.litres %></td>
    <td><%= gpf.fat %></td>
    <td><%= gpf.price %></td>
    <td><%= gpf.litconsume %></td>
    <td><%= gpf.litgive %></td>
    <td><%= gpf.litsell %></td>
    <td><%= gpf.farmer_id %></td>
    <td><%= gpf.whoconsa %></td>
    <td><%= gpf.whoconsb %></td>
    <td><%= gpf.wheresell %></td>
    <td><%= link_to 'Edit', edit_gpf_path(gpf) %></td>

  </tr>
<% end %>
</table>

<br />


