<p id="notice"><%= notice %></p>

<p>
  <b>Cbcount:</b>
  <%= @gpf.cbcount %>
</p>

<p>
  <b>Lbcount:</b>
  <%= @gpf.lbcount %>
</p>

<p>
  <b>Litres:</b>
  <%= @gpf.litres %>
</p>

<p>
  <b>Fat:</b>
  <%= @gpf.fat %>
</p>

<p>
  <b>Price:</b>
  <%= @gpf.price %>
</p>

<p>
  <b>Litconsume:</b>
  <%= @gpf.litconsume %>
</p>

<p>
  <b>Litgive:</b>
  <%= @gpf.litgive %>
</p>

<p>
  <b>Litsell:</b>
  <%= @gpf.litsell %>
</p>

<p>
  <b>Farmer:</b>
  <%= @gpf.farmer_id %>
</p>

<p>
  <b>Whoconsa:</b>
  <%= @gpf.whoconsa %>
</p>

<p>
  <b>Whoconsb:</b>
  <%= @gpf.whoconsb %>
</p>

<p>
  <b>Wheresell:</b>
  <%= @gpf.wheresell %>
</p>


<%= link_to 'Edit', edit_gpf_path(@gpf) %> |
<%= link_to 'Back', gpfs_path %>
