<!DOCTYPE html>
<html>
<head>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <title>Cow Hub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" , "jquery.min", "rails","highcharts" %>
  <%= csrf_meta_tags %>

</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse ">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Cow Hub", '#', id: "logo" %>
          <%= link_to image_tag("Cowlogo.png", alt: "Cow Hub Logo") %>
        <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Sign in",    '#' %></li>
              <li><%= link_to "Sign up", '#' %></li>
              <li><%= link_to "Data", '#' %></li>
              <li><%= link_to "Vizualizations", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<%= yield %>

</body>
</html>
